<head>
	<title>Auto Post</title>
	<meta name="viewport" content="initial-scale=1.0">
	<meta charset="utf-8">
	<script src="/static/js/common.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key={{.APIKEY}}"></script>
	<script>
window.onload = function(){
	startAutoPost();
};
	</script>
	<style>
#map {
	height: 500px;
	width: auto;
}
	</style>
</head>
<body>
	<div id="currentLat"></div>
	<div id="currentLon"></div>
	<form name="change">
		<input type="button" value="start" onClick="startAutoPost()">
		<input type="button" value="stop" onClick="stopAutoPost()">
	</form>
</body>
